.itempage {
  box-sizing: border-box;
  display: flex;
  overflow-x: hidden;
  top: 60px;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  > .MuiCard-root {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 40px;
    @media only screen and (min-width: 1600px) {
      width: 60%;
    }
    @media only screen and (max-width: 900px) {
      width: 100%;
    }
  }
  .container {
    position: relative;
    margin: 30px auto;
    padding: 20px;
    background: white;
    width: 80%;
    border-radius: 4px;

    .submenu {
      width: 100%;
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      .direction a {
        display: inline-block;
        padding: 0 10px;
        margin: 0 5px;
        cursor: pointer;
      }
      a {
        text-decoration: none;
        color: $color-darkblue;
      }
    }

    .wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      @media only screen and (max-width: 900px) {
        flex-direction: column;
      }
      .media-column {
        display: inline-block;
        width: 100%;
        flex: 0.5;
        .gallery {
          margin: 10px;
          .slider {
            .main-image {
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              position: relative;
              height: 400px;

              @media only screen and (max-width: 863px) {
                margin-top: 80px !important;
              }
              .left-arrow {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 40px;
                cursor: pointer;
                i {
                  opacity: 1;
                }
              }
              .right-arrow {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 40px;
                cursor: pointer;
              }
              .arrows {
                display: flex;
                align-items: center;
                font-size: 1.4rem;
                background: rgba(0, 0, 0, 0.4);
                color: white;
                i {
                  margin: 0 auto;
                }
              }
            }
          }
          .thumbnails {
            padding: 10px 0;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 4px;
            .thumb-img {
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              height: 100px;
            }
          }
        }
      }
      .details-column {
        flex: 0.5;
        .pricelist {
          float: right;
        }
        .title {
          margin: 40px;
          p {
            font-size: 0.9rem;
            padding: 15px;
            float: right;
            position: absolute;
            top: 15px;
            right: 15px;
          }
          h2 {
            font-size: 2rem;
            padding: 1rem;
            text-align: center;
          }
          h3 {
            font-weight: 600;
            font-size: 1.5rem;
            color: #4bb543;
            padding: 10px;
          }
        }
        .contactbtn {
          background-color: #2c7dd3;
          width: 100px;
          border-radius: 4px;
          font-size: 0.9rem;
          padding: 10px;
          cursor: pointer;
          position: absolute;
          top: 80px;
          right: 15px;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }

    .description {
      padding: 40px;
      margin: 10px;
      label {
        font-size: 1.2rem;
        font-weight: 600;
      }
      #desc {
        margin: 20px auto;
        line-height: 1.8;
        word-wrap: break-word;
        letter-spacing: 0.7px;
        font-size: 14px;

        @include respond(tab-port) {
          font-size: 0.7rem !important;
          width: 91%;
        }
      }
    }
  }
  #contactme h3 {
    font-size: 18px;
  }
  .contactdetails {
    padding: 15px;
    text-align: center;
    div {
      label {
        font-weight: bold;
        margin-left: 0;
      }
      h6 {
        padding: 10px 0;
      }
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .itempage {
    .container {
      width: 95%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .itempage {
    display: block;
    .container {
      width: 95%;
      .wrapper {
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .itempage {
    .container {
      .wrapper {
        .details-column {
          .pricelist {
            float: left !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .itempage {
    .container {
      width: 95%;
      padding: 10px;
      margin: 20px auto;
      .wrapper {
      }
      .description {
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .itempage {
    .container {
      .wrapper {
        .media-column {
          .gallery {
            margin: 0;
            .slider {
              .main-image {
                width: 100%;
                height: 300px;
                margin: 0 auto;
              }
            }
            .thumbnails {
            }
          }
        }
      }
    }
  }
}
