.listings-results-loader {
  margin-bottom: 0 !important;
}
.listings-page {
  box-sizing: border-box;
  overflow-x: hidden;
  .container {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .list-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    > .MuiCard-root {
      width: 85%;
      min-height: 290px;
      margin: 0 auto;
      margin-top: 50px;
      padding-bottom: 40px;
      @media only screen and (min-width: 1800px) {
        width: 60%;
      }
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
    .listing-setting {
      text-align: center;
      margin-top: 50px;
      .wrapper {
        transition: all 0.4s ease-in-out;
      }

      .view,
      .views {
        display: inline-block;
        font-size: 1.5rem;
        i {
          margin: 10px;
          cursor: pointer;
        }
      }
      #searchview {
        display: flex;
        justify-content: center;
        align-items: center;
        .views {
          margin-top: 30px;
          @media only screen and (max-width: 500px) {
            display: none;
          }
        }
      }
      .search {
        padding: 15px;
        width: 500px;
        border-radius: 5px;
        margin: 50px 0;
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.4rem;
      }
      .filter {
        .sort {
          margin-left: 30px;
          display: inline-block;
        }
        .button {
          font-size: 0.9rem;
          .primary-btn {
            background-color: rgba(44, 125, 211, 0.8);
            color: white;
            display: inline-block;
            width: 80px;
            padding: 10px;
            text-align: center;
            cursor: pointer;
            &:hover {
              background-color: rgba(44, 125, 211, 1);
            }
          }
          .reset-btn {
            margin: 15px;
            display: inline-block;
            cursor: pointer;
          }
        }
        label {
          font-weight: 700; //padding: 5px;
        }
        .form-group {
          label {
            margin-left: 0;
          }
          .price {
          }
          select > option {
            padding: 10px;
          }
          padding: 10px 0px;
          display: inline-block;
          vertical-align: top;
          margin: 0 20px;
          .button {
            display: block;
          }
          input {
            padding: 5px;
            margin: 10px auto;
            width: 100px;
            margin: 5px;
            display: inline-block;
          }
        }
        select {
          background: #fff;
          border-radius: 5px;
          padding: 7px;
          margin: 10px;
          width: 150px;
        }
      }
    }
    .handleView {
      clear: both;
      margin: 0 auto;
      margin-top: 40px;
      .noresult {
        width: 100%;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        background-color: lightgray;
        padding-top: 3%;
        height: 100px;
      }
    }
    .box {
      .noresult {
        // display: inline-grid;
        // grid-column-start: 1;
        // grid-column-end: 5;
      }
      // margin: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      @media only screen and (max-width: 1200px) {
        margin: 0px;
      }
      @media only screen and (max-width: 600px) {
        margin-top: 30px;
        margin: 5px;
        // display: block;
      }

      .item {
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        -webkit-box-shadow: 10px 10px 25px -3px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 10px 10px 25px -3px rgba(0, 0, 0, 0.2);
        box-shadow: 10px 10px 25px -3px rgba(0, 0, 0, 0.2);
        .image {
          background-color: darkgray;
          height: 250px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          position: relative;
          .price {
            position: absolute;
            margin: 10px;
            color: darkgreen;
            padding: 5px;
            font-weight: 600;
            font-size: 1.2rem;
            border-radius: 3px;
            right: 0;
            bottom: 0;
            z-index: 500;
          }
          .item-desc {
            background-color: #eff0f2;
            width: 100%;
            padding: 15px;
            position: absolute;
            bottom: 0;
            color: black;
            h4 {
              font-weight: 600;
              padding: 4px 0;
              text-transform: capitalize;
            }
            h6 {
              font-weight: 400;
              font-size: 0.8rem;
              padding: 4px 0;
              text-transform: capitalize;
              margin-top: 10px;
            }
          }
        }
      }
    }
    .listloop {
      width: 28%;

      @media only screen and (max-width: 1200px) {
        width: 48%;
        margin: 5px;
      }
      @media only screen and (max-width: 600px) {
        width: 90%;
      }
    }
    .list {
      margin: 60px auto;
      width: 900px;
      transition: all 0.5s ease-in-out;
      .item {
        position: relative;
        margin: 25px auto;
        height: 130px;
        overflow: hidden;
        cursor: pointer;
        background-color: $color-primary;
        border-left: 8px #66a3ff solid;
        letter-spacing: 0.6px;

        @media only screen and (max-width: 500px) {
          height: 200px;
        }
        .image {
          background-color: darkgray;
          width: 25%;
          background-position: center;
          background-size: cover;
          height: 100%;
          background-repeat: no-repeat;

          @media only screen and (max-width: 500px) {
            width: 100%;
          }
        }
        .price {
          padding: 20px;
          font-size: 1.5rem;
          color: $color-success;
          font-weight: 600;
          position: absolute;
          right: 0;
          z-index: 10;
          input {
            display: inline-block;
          }
        }
        .item-desc {
          position: absolute;
          width: 380px;
          color: #fff;
          padding: 20px 0;
          left: 50%;

          @media only screen and (max-width: 500px) {
            background-color: $color-primary;
            padding: 20px;
            height: 25%;
          }
          h4 {
            width: 85%;
            font-weight: 600;

            @media only screen and (max-width: 500px) {
              width: 100%;
            }
          }
          h6 {
            width: 100%;
            font-size: 1rem;
            padding-top: 30px;
          }
        }
      }
    }
    background: #fff;
    display: block;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    float: right;
  }
}

@media only screen and (max-width: 1500px) {
  .listings-page {
    .list-view {
      .listing-setting {
        .wrapper-active {
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .listings-page {
    .list-view {
      .list {
        width: 80%;
        .item {
          .price {
            font-size: 1rem;
          }
          .item-desc {
            h4 {
              font-size: 1rem;
            }
            h6 {
              font-size: 0.9rem;
            }
          }
        }
      }
      .listing-setting {
        .filter {
          margin: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .listings-page {
    .list-view {
      .list {
        width: 90%;
        .item {
          margin: 25px 0;
          .item-desc {
            h4 {
              font-size: 1.1rem;
            }
            h6 {
              font-size: 0.9rem;
            }
          }
        }
      }
      .listing-setting {
        .search {
          width: 40%;
          font-size: 1.1rem;
        }
        .filter {
          .form-group {
            margin: 0 20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .listings-page {
    .list-view {
      .list {
        width: 100%;
        .item {
          .price {
            font-size: 0.8rem;
          }
          .item-desc {
            left: 40% !important;

            h4 {
              font-size: 1.1rem;
              width: 50% !important;
            }
            h6 {
              font-size: 0.9rem;
            }
          }
        }
      }
      .listing-setting {
        .filter {
          .form-group {
            margin: 0 auto;
          }
        }
        .search {
          width: 70%;
        }
        .wrapper {
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .listings-page {
    .list-view {
      .list {
        width: 100%;
        .item {
          image {
            display: none;
          }
          .item-desc h4 {
            width: 100% !important;
          }
          .price {
            font-size: 0.8rem;
          }
          .item-desc {
            left: 0% !important;
          }
        }
      }
    }
  }
}
