.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: #fff;
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    top: 0rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(#000, 0.1);
    text-align: center;
    cursor: pointer;

    @media only screen and (max-width: 1200px) {
      right: 3rem;
    }
  }

  &__background {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 0.75rem;
    right: 6.25rem;
    background-image: radial-gradient($color-primary, $color-darkblue);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    @media only screen and (max-width: 1200px) {
      right: 3.25rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    left: -100%;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 3rem;
    @media only screen and (max-width: 600px) {
      margin: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      line-height: 1.4;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
      background-size: 220%;
      transition: all 0.4s;
      @media only screen and (max-width: 1200px) {
        font-size: 2rem;
      }
      @media only screen and (max-width: 1200px) {
        font-size: 1.2rem;
      }

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  } //FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(130);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
    left: 0;
  } //ICON
  &__icon {
    position: relative;
    margin-top: 1.75rem;

    &,
    &::before,
    &::after {
      width: 2rem;
      height: 2px;
      background-color: $color-grey-dark;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.7rem;
    }
    &::after {
      top: 0.7rem;
    }
  }

  &__button:hover &__icon::before {
    top: -0.7rem;
  }

  &__button:hover &__icon::after {
    top: 0.7rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
