#login .popup__content {
  margin-top: 50vh;
}

input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(4rem);
}

input:focus + label {
  opacity: 1;
  transform: translateY(0);
}

label {
  margin: 15px 0;
  font-size: 0.9rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  display: none;
  padding: 1.2rem 1.6rem;
  border: 1px solid black;
  border-radius: 2px;
  background-color: rbga(#ffffff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  transition: all 0.3s ease;

  @include respond(phone) {
    width: 60%;
    padding: 1rem 1.4rem;
    margin: 0 auto;
  }

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(#000000, 0.1);
    border-bottom: 3px solid $color-primary;
  }

  &:focus:invalid {
    border-bottom: 3px solid $color-orange;
  }

  &::-webkit-input-placeholder {
    color: $color-grey-dark;
  }
}

.signInHome {
  position: relative;

  .container {
    width: 100%;
    height: 100vh;
    display: block;
    overflow-y: hidden;

    .info {
      width: 60%;
      display: inline-block;

      @include respond(tab-port) {
        height: 300px;
        width: 100%;
        display: block;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        float: none;
      }
      .header {
        position: relative;
        height: 100vh;
        background-image: linear-gradient(to right bottom, rgba($color-grey-dark, 0.8), rgba(85, 197, 122, 1)); //url('https://mssmedia.com/wp-content/uploads/2016/07/college-marketing-advertising.jpg');
        /* background img on top */
        background-size: cover;
        /* fits image on viewport width */
        background-position: top; //                -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        //                clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        @include respond(tab-port) {
          display: none;
        }
        .promo {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          i {
            margin-right: 15px;
          }
          h3 {
            font-size: 1.4rem;
            font-weight: 600;
            color: white;
            width: 500px;
            text-align: center;
            padding: 25px 0;
          }
        }
      }
    }
  }
}

.popup {
  color: #2b3a42;
  h3 {
    font-weight: bold;
  }
  h6 {
    margin-top: 30px;
    font-weight: bold;
    text-align: center;
  }
  form {
    margin: 20px;
    margin-top: 30px;
  }
  #popupwrapper {
  }
  input {
    width: auto;
    margin: 0 auto;
    padding: 0.8rem 1.6rem;
    font-size: 1.2rem;
  }
}
.submit {
  width: 200px;
  background: rgba(236, 82, 82, 0.9);
  color: white;
  font-weight: 600;
  cursor: pointer;
  border: none;

  @include respond(tab-port) {
    width: 175px;
  }
  &:hover {
    background: rgba(236, 82, 82, 1);
  }
}
.login {
  width: 100%;
  .joinTag {
    text-align: center;
    padding: 1rem;
    a {
      color: $color-orange;
      text-decoration: none;
      transition: all 0.6s;
      &:hover {
        font-weight: 600;
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.auth {
  //              width: 40%;
  //              float: left;
  //              height: 100%;
  @include respond(tab-port) {
    width: 100%;
    display: block;
    float: none;
  }
  .emphasisbtn {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
  }
  h2 {
    font-weight: 700;
    font-size: 1.6rem;
    padding: 30px;
  }
  h3 {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;

    @include respond(phone) {
      font-size: 1.5rem;
    }
  }
  .oauth {
    background: $color-darkblue;
    padding: 5px;
    .google,
    .fb {
      width: 290px;
      height: 50px;
      margin: 0 auto;
      cursor: pointer;
      position: relative;
      box-shadow: 0 2px 2px 0 rgba(41, 48, 59, 0.24), 0 0 2px 0 rgba(41, 48, 59, 0.12);
      border-radius: 2px;
      margin-top: 10px;
      .MuiSvgIcon-root {
        font-size: 32px;
        margin-bottom: -12px;
      }
    }
    .googleContainer,
    .fbContainer {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 17px;
      width: 100%;
      margin-left: 10px;
    }
    p {
      display: flex;
      justify-content: center;
    }
    section {
      display: flex;
      transform: translateY(50%);
      margin-left: 10px;
      font-size: 24px;
    }
    .googlelogo {
      width: 30px;
      height: 27px;
      display: flex;
    }
    .google {
      background: rgb(255, 255, 255);
      color: black;
      font-weight: 900;
      &:hover {
        background: rgb(238, 238, 238);
      }
    }
    .fb {
      background: rgba(26, 83, 138, 0.9);
      color: white;
      font-weight: 900;
      margin-bottom: 10px;
      &:hover {
        background: rgba(26, 83, 138, 1);
      }
    }
  }
}
