$color-darkblue: #2B3A42;
$color-lightblue: #BDD4DE;
$color-primary: #3F5765;
$color-offwhite: #FDFDFD;
$color-orange: #FF530D;
$color-grey-dark: #777;
$color-success: #4BB543;
$color-grey-light: #D3D3D3;